<!DOCTYPE html>
<html lang="en">
<head>
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8" />


<!-- <link rel="stylesheet" href="accordian.css" type="text/css" media="screen" charset="utf-8" /> -->
<link rel="stylesheet" href="lightbox.css" type="text/css" media="screen" />
<script language="JavaScript" src="gen_validatorv4.js" type="text/javascript" xml:space="preserve"></script>


<title>Postcards From the Now</title>
<meta charset=utf-8 />
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="header"></div>
<div class="container">
<div class="cw">
</div> 
<header id="page_header">

<h1 class="header_image"><a href="/">Postcards From the Now</a></h1>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31090105-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</header>

<%= yield %>
</div>

<script type="text/javascript" src="script.js"></script>
<!-- <script type="text/javascript" src="list.js"></script> -->
<script src="jquery-1.7.2.min.js"></script>
<script src="jquery-ui-1.8.18.custom.min.js"></script>
<script src="jquery.smooth-scroll.min.js"></script>
<script src="lightbox.js"></script>

<script language="JavaScript" type="text/javascript"
    xml:space="preserve">//<![CDATA[
  var frmvalidator  = new Validator("the_form");
  frmvalidator.EnableOnPageErrorDisplaySingleBox();
  frmvalidator.EnableMsgsTogether();
  
  fileTypeMessage = "Sorry, we can only handle jpg, jpeg, gif and png";
  
  frmvalidator.addValidation("file_chooser1","file_extn=jpg;jpeg;gif;png",fileTypeMessage);
  frmvalidator.addValidation("file_chooser1","req_file","Please add a photo of your window.");
  
  frmvalidator.addValidation("file_chooser2","file_extn=jpg;jpeg;gif;png",fileTypeMessage);
  frmvalidator.addValidation("file_chooser2","req_file","Please add a screenshot.");
  
  frmvalidator.addValidation("thoughts","req","Please share what you are thinking about.");
  frmvalidator.addValidation("thoughts","maxlen=575","You ran out of space in your postcard! Please keep your thoughts under 575 characters");
  
  frmvalidator.addValidation("user_name","req","Please enter your first name.");
  frmvalidator.addValidation("user_name","maxlen=20",	"Sorry, we need a shorter first name.");
  frmvalidator.addValidation("user_name","alpha","Please use only letters for your name.");  
  
  frmvalidator.addValidation("email","maxlen=50");  
  frmvalidator.addValidation("email","email", "Please enter a valid email -or no email at all-");   
  
  frmvalidator.addValidation("city","maxlen=50", "Please check your City's name, it should be under 50 characters");
  frmvalidator.addValidation("city","req","Please enter your city.");
  frmvalidator.addValidation("country","maxlen=50", "Please check your Contry's name, it should be under 50 characters");
  frmvalidator.addValidation("country","req","Please enter your country.");

//]]></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</body>
</html>